In [2]:
#Export to my SQL
# Name of database: 'match_project'
import pandas as pd
from sqlalchemy import create_engine, text
import pymysql.cursors
import os
# import getpass
import urllib.parse

In [3]:
# Loading all three datasets that will be loaded to SQL database

song_sent = pd.read_csv("data/sql_songs_with_sentiment.csv")
top_songs = pd.read_csv("data/popular_songs.csv")
listen_brainz = pd.read_csv("data/listen_brainz_filtered.csv")

In [4]:
song_sent=song_sent.rename(columns={"song_id2": "song_id"})

In [5]:
song_sent[song_sent['song_id'].duplicated()]

Empty DataFrame
Columns: [Unnamed: 0, song_id, artist, title, tag, year, positive_score, neutral_score, negative_score, is_positive, is_negative, is_neutral]
Index: []

In [6]:
top_songs = top_songs.drop(columns="Unnamed: 0")

In [7]:
top_songs

,artist,title,date,year,artist_clean,title_clean,song_id,song_id2,main_artist
0,"""Little"" Jimmy Dickens",May The Bird Of Paradise Fly Up Your Nose,1965-12-14,1965,little jimmy dickens,may the bird of paradise fly up your nose,little_jimmy_dickens_may_the_bird_of_paradise_...,little_jimmy_dickens_may_the_bird_of_paradise_...,little jimmy dickens
1,"""Weird Al"" Yankovic",Amish Paradise,1996-07-07,1996,weird al yankovic,amish paradise,weird_al_yankovic_amish_paradise,weird_al_yankovic_amish_paradise,weird al yankovic
2,"""Weird Al"" Yankovic",Canadian Idiot,2006-11-04,2006,weird al yankovic,canadian idiot,weird_al_yankovic_canadian_idiot,weird_al_yankovic_canadian_idiot,weird al yankovic
3,"""Weird Al"" Yankovic",Eat It,1984-05-26,1984,weird al yankovic,eat it,weird_al_yankovic_eat_it,weird_al_yankovic_eat_it,weird al yankovic
4,"""Weird Al"" Yankovic",Fat,1988-05-28,1988,weird al yankovic,fat,weird_al_yankovic_fat,weird_al_yankovic_fat,weird al yankovic
...,...,...,...,...,...,...,...,...,...
20541,twenty one pilots,Stressed Out,2016-10-01,2016,twenty one pilots,stressed out,twenty_one_pilots_stressed_out,twenty_one_pilots_stressed_out,twenty one pilots
20542,twenty one pilots,Tear In My Heart,2015-08-08,2015,twenty one pilots,tear in my heart,twenty_one_pilots_tear_in_my_heart,twenty_one_pilots_tear_in_my_heart,twenty one pilots
20543,will.i.am,I Got It From My Mama,2007-10-20,2007,william,i got it from my mama,william_i_got_it_from_my_mama,william_i_got_it_from_my_mama,william
20544,will.i.am,It's A New Day,2009-02-07,2009,william,its a new day,william_its_a_new_day,william_its_a_new_day,william
20545,will.i.am Featuring Miley Cyrus,Fall Down,2013-05-04,2013,william featuring miley cyrus,fall down,william_featuring_miley_cyrus_fall_down,william_fall_down,william

In [40]:
pw = "19Klipsch46"

connection_string = 'mysql+pymysql://root:' + pw + '@localhost:3306/'
engine = create_engine(connection_string)

In [41]:
with engine.connect() as conn:
    conn.execute(text("CREATE DATABASE IF NOT EXISTS song_sentiment_db"))

In [46]:
song_sent.to_sql('songs_sentiment',engine, 'song_sentiment_db', if_exists='replace', index=False)

top_songs.to_sql('top_songs',engine, 'song_sentiment_db', if_exists='replace', index=False)

/var/folders/2n/0zc5p_q960ggjwt11ytfzc1h0000gp/T/ipykernel_73829/1878100873.py:1: FutureWarning: Starting with pandas version 3.0 all arguments of to_sql except for the arguments 'name' and 'con' will be keyword-only.
  song_sent.to_sql('songs_sentiment',engine, 'song_sentiment_db', if_exists='replace', index=False)
/var/folders/2n/0zc5p_q960ggjwt11ytfzc1h0000gp/T/ipykernel_73829/1878100873.py:3: FutureWarning: Starting with pandas version 3.0 all arguments of to_sql except for the arguments 'name' and 'con' will be keyword-only.
  top_songs.to_sql('top_songs',engine, 'song_sentiment_db', if_exists='replace', index=False)

20546

In [42]:
listen_brainz=listen_brainz.drop(columns="Unnamed: 0")

KeyError: "['Unnamed: 0'] not found in axis"

In [47]:
listen_brainz.to_sql('listen_brainz_activity',engine, 'song_sentiment_db', if_exists='replace', index=False)

/var/folders/2n/0zc5p_q960ggjwt11ytfzc1h0000gp/T/ipykernel_73829/2331377828.py:1: FutureWarning: Starting with pandas version 3.0 all arguments of to_sql except for the arguments 'name' and 'con' will be keyword-only.
  listen_brainz.to_sql('listen_brainz_activity',engine, 'song_sentiment_db', if_exists='replace', index=False)

90944

In [8]:
song_sent.shape

(20546, 12)

In [10]:
top_songs.columns

Index(['artist', 'title', 'date', 'year', 'artist_clean', 'title_clean',
       'song_id', 'song_id2', 'main_artist'],
      dtype='object')

In [1]:
song_sent[song_sent['artist']== "Rolling"]

NameError: name 'song_sent' is not defined

In [1]:
song_sent.shape

NameError: name 'song_sent' is not defined